
@{
    ViewBag.Title = "Create New Role";
}


<h1>Create and Add Admin Role</h1>
<h4> Only for purpose of this task...  :)</h4>
<div class="row">
    <div class="col-md-4">
       
        <h4>Be an Admin</h4>
            <a asp-action="addadminrole" asp-controller="administration" class="btn btn-primary">Set As Admin</a>
    </div>
</div>
