@{
    ViewData["Title"] = "ApiGuardian";
    var articles = ViewData["Articles"] as List<GuardianNews.Models.ArticleModel>;
}

<h1>Newest Guardian Articles - API Results</h1>


<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <form>
                    <button class='btn btn-primary'
                            asp-controller="Home" asp-action="UploadToDb">
                        Update Articles to Database
                    </button>
                </form>
            </tr>
            <tr>
                <th>Section</th>
                <th>Title</th>
                <th>Publication Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in articles)
            {
                <tr>
                    <td>@article.SectionName</td>
                    <td><a href="@article.WebUrl"> @article.WebTitle </a></td>
                    <td>@article.WebPublicationDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>